<h2 class="page_head">Ingredients List</h2>

<div class='list_wrapper left_justify'>
  <ul>
    <% (1..7).each do | type | %>
      <% @ingredients.each do | ingredient | %>
        <% if ingredient.type_code == type.to_s %>
          <li id='ingredient_list'>
            <%= render "print_ingredient_line", ingredient: ingredient %>
          </li>
          <% @i += 1 %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>

<% if current_user %>
  <%= button_to 'Add Ingredient', new_ingredient_path, :class => 'add_record_button', type: 'button', method: :get %>
<% end %>

<% unless current_user %>
 <span class="center"><%= link_to "Log in", user_session_path %> to add a Recipe</span>
<% end %>