<div class="left_half">
  <h1 class="page_head">Modify Recipe</h1>
  <p class="blurb">Modify an existing recipe by answering a series of questions to guide the process.</p>

  <% unless current_user %>
    <div id="build_button"><%= link_to "Log In", new_user_session_path %></div>
  <% end %>

  <% if current_user %>
    <div id="build_button"><%= link_to "Modify Recipe", home_build_path %></div>
  <% end %>

</div>

<div class="right_half">
  <h1 class="page_head">Build a Saison</h1>
  <p class="blurb">Build a new saison recipe from scratch, ingredient by ingredient.</p>

  <% unless current_user %>
    <div id="build_button"><%= link_to "Log In", new_user_session_path %></div>
  <% end %>

  <% if current_user %>
    <div id="build_button"><%= link_to "Build Saison", new_recipe_path %></div>
  <% end %>

</div>