<div class="left_half">
  <h1 class="page_head">Modify Recipe</h1>
  <p class="blurb">Modify an existing recipe by answering a series of questions to guide the process.</p>
  <div id="build_button"><%= link_to "Modify Recipe", home_build_path %></div>
</div>

<div class="right_half">
  <h1 class="page_head">Build a Saison</h1>
  <p class="blurb">Build a new saison recipe from scratch, ingredient by ingredient.</p>
  <div id="build_button"><%= link_to "Build Saison", new_recipe_path %></div>
</div>