%h1.main_head Saison<span class='blue'>builder</span>
%p.subtitle build a saison the easy way

= button_to 'Build Saison', new_recipe_path, :class => 'add_record_button', type: 'button', method: :get


