<h1 class="main_head">Saison<span class='blue'>builder</span></h1>
<p class="subtitle">build a saison the easy way</p>

<%= button_to 'Build Saison', new_recipe_path, :class => 'add_record_button', type: 'button', method: :get %>


