<div class="left_half">
  <h1 class="page_head">About Saison</h1>
  <p class="blurb">Learn about the style's origins, its history, and its modern character.</p>
  <div class="build_button"><%= link_to "Learn about Saison", home_style_path %></div>
</div>

<div class="right_half">
  <h1 class="page_head">Brewing Techniques</h1>
  <p class="blurb">Learn about a few techniques used when brewing saisons.</p>
  <div class="build_button"><%= link_to "Techniques", home_techniques_path %></div>
</div>