<h2 class="page_head">Saison: A Description</h2>
<div class="text_wrapper">

  <p class="text_block"><b>Saison</b>, or <b>Farmhouse ale</b>, is a style of beer native to the
  Wallonia region of Belgium, and is know for its exceptional breadth
  of style and its flavorful, quenching character. Traditionally
  brewed in the winter months and consumed during the summer months,
  the Farmhouse Ale style is so known because they were commonly
  brewed on the farm and given to seasonal workers laboring under
  the summer sun due to their crisp, refreshing character.</p>

  <p class="text_block">Because they were generally brewed with ingredients the farm
  had on hand, there was a significant amount of variation in their
  composition, with each farm producing a distinctive variation. As
  a result, the modern saison style is uniquely broad, embracing a
  wide array of ingredients, characters, and gravities. Lower gravity
  saisons similar to those historically brewed are growing more
  common, as are higher gravity 'winter' saisons. Unique ingredients
  such as botanicals, fruit, spices, brettanomyces (a unique 'wild'
  yeast), and even aging on woods such as oak and cedar are increasing
  in frequency, both in the US and Belgium.</p>

  <p class="text_block">The style's popularity has skyrocketed in recent years, pushed
  by a number of breweries in both the US and Belgium brewing exclusively
  saisons. Notable Saisons can be found from <b>Stillwater</b>, <b>Prairie</b>, <b>The
  Bruery</b>, and <b>Southampton</b> breweries in the US among many others, and from
  <b>Dupont</b>, <b>Fantome</b>, <b>Brasserie Thierez</b>, and an array of others in Belgium
  and France. Additionally, the <b>Hopfenstark</b> brewery in Montreal has
  produced an array of unique saison variations built around the same
  base recipe.</p>

</div>