/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#nav_wrapper {
  padding: 5px 20px 15px 20px;
  border-bottom: 1px solid black;
}

.left_nav {
  float: left;
  padding: 0 5px;
}

.right_nav {
  float: right;
  padding: 0 5px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  list-style-type: none;
}

.page_head {
  text-align: center;
  clear: both;
  margin-top: 30px;
}

.list_wrapper {
  width: 700px;
  margin: 0 auto;
}

#add_record_button {
  height: 30px;
  width: 110px;
  margin: 0 auto;
  border: 1px solid black;
  padding-top: 6px;
  padding-left: 10px;
}

.form_wrapper {
  width: 700px;
  margin: 0 auto;
}