/*
 *= require_self
 *= require_tree .
 */

html, body {
  height: 100%;
  text-align: center;
}

#nav_wrapper {
  padding: 5px 20px 15px 20px;
  border-bottom: 1px solid black;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.left_nav {
  float: left;
  padding: 0 5px;
}

.center_nav {
  width: 200px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  margin-top: -29px;
}

.notice {
  margin-top: -5px;
}

.right_nav {
  float: right;
  padding: 0 5px;
}

ul {
  list-style-type: none;
}

ul li {
  clear: left;
  height: 20px;
}

li input {
  float: left;
  clear: none;
  margin-left: 5px;
}

.page_head {
  text-align: center;
  clear: both;
  margin-top: 30px;
}

.wrapper {
  min-width: 700px;
  max-width: 900px;
  display: inline-block;
  text-align: left;
}

.left_justify {
  text-align: left;
}

.left {
  float: left;
  clear: left;
}

.center {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.add_record_button {
  height: 30px;
  width: 110px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding-top: 6px;
  padding-left: 10px;
}

.labels_wrapper {
  float: left;
  text-align: right;
  line-height: 1.43em;
  margin-right: 6px;
}

.top_bump {
  margin-top: 10px!important;
}