#ingredient_list {
  margin-left: 20px;
}

.delete_button {
  margin-left: 15px;
}

.ingredient_name_block {
  width: 194px;
  display: inline-block;
}

.ingredient_fields_wrapper {
  display: inline-block;
  max-width: 800px;
  text-align: left;
  padding-bottom: 20px;
  margin-right: 40px;
}