.ingredient_list {
  margin-left: 20px;
}

.delete_button {
  margin-left: 15px;
}

.ingredient_name_block {
  width: 194px;
  display: inline-block;
}

.ingredient_fields_wrapper {
  display: inline-block;
  max-width: 800px;
  text-align: left;
  padding-bottom: 20px;
  margin-right: 40px;
}

#ingredient_labels_wrapper {
  float: left;
  text-align: right;
  line-height: 1.63em;
  margin-right: 6px;
  margin-left: 20%!important;
}