.recipe_name_block {
  width: 160px;
  display: inline-block;
}

.recipe_name_block a {
  text-decoration: none;
  color: #1d2951;
}

.recipe_name_block a:hover {
  text-decoration: underline;
}

.recipe_description_block {
  min-width: 580px;
  display: inline-block;
}

.align_right {
  float: right;
}

.quantity_block {
  width: 50px;
  display: inline-block;
}

.right_margin {
  margin-right: 10px;
}

.align_right input {
  margin-left: 0;
}

.inline_form {
  display: inline-block;
}

.pull_right {
  margin-left: 285px;
  margin-bottom: -5px!important;
  margin-top: 15px!important;
}

#add_form_line, #add_update_form_line {
  height: 30px;
  background-color: lightgray;
  color: #1d2951;
}

#add_form_line:hover, #add_update_form_line:hover {
  color: black;
  cursor: pointer;
}

.label_block {
  display: inline-block;
  width: 198px;
}

.recipe_align {
  margin-left: 60px;
}

#quantity_label {
  position: relative;
  left: 152px;
}

#usage_label {
  position: relative;
  left: 182px;
}

#duration_label {
  position: relative;
  left: 290px;
}

#ingredient_label {
  display: block;
  margin-top: 71px;
}

#reveal_notes_field {
  margin: 10px 0 15px 0;
  background-color: lightgray;
  height: 30px;
}

#og_label {
  margin-left: -5px;
}

#fg_label, #efficiency_label {
  margin-left: 11px;
}

.hidden {
  display: none!important;
}

.button_wrapper {
  width: 580px;
  display: inline-block;
}

#form_partial_wrapper > .form_count:first-of-type select:first-of-type {
  margin-left: 0!important;
}

#form_partial_wrapper div:first-of-type {
  display: inline-block;
}

#form_partial_wrapper form {
  display: inline-block;
}

.ingredient_select {
  margin-left: 120px;
}

.hidden_label {
  display:none!important;
}

.recipe_fields_wrapper {
  display: inline-block;
  max-width: 800px;
  text-align: left;
}

.usage_select {
  min-width: 147px;
}

.left_no_clear {
  float: left;
  clear: none;
  margin: 5px 7px 10px -5px;
}

#save_notes_button {
  margin-top: -15px!important;
  height: 30px;
  width: 90px;
}

.recipe_view_wrapper {
  min-width: 560px;
  display: inline-block;
  text-align: left;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background: rgb(247, 247, 247);
  padding: 15px;
}

.recipe_form_wrapper {
  min-width: 720px;
  max-width: 900px;
  display: inline-block;
  text-align: left;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background: rgb(247, 247, 247);
  padding: 15px 0 0 25px;
}